<% if (success.length > 0) { %>
<div class="alert alert-success"><%= success %></div>

<% } %>


<div class="jumbotron text-center">
	<h1><%=  matchup.name %></h1>
	<p><%= matchup.description %></p>
</div>